/**********************
 ****overall layout****
 ****/
body {
	min-height: 300em;
	background-color: #F0F0F0;
}

section {
  position: relative;
}

/****************
 **** nav bar****
 ****/
#tuti {
  height: 32px;
  width: 32px;
  position: relative;
}

nav {
  background-color:#F0F0F0;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-collapse {
  background-color: #F0F0F0;
}
.navbar-collapse li:hover{
  background-color: #D9D9D9;
}

/***************
 **** Banner****
 ****/
.container-fluid {
  clear: both;
  float: none;
  width: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
  display:block;
}

#tuti_sticker {
  height:30em;
}

#planet {
  width: 100%;
	position:relative;
  top:520px;
}

.banner-main {
  height: 100%;
  position: relative;
}

.banner-main .ban-text-middle {
  bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  height: 233px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
  top: -10em;
}

.ban-text-middle p{
  font-size: 2rem;
}

.ban-text-middle img {
  position:relative;
  top:3em;
}

/**********************
 **** Product intro****
 ****/

#intro {
  transition: all 0.5s ease-in 0.5s;
  z-index: 11;
  top:5em;
}

#skill {
  position:relative;
  text-align: center;
  top:1em;
}

#skill button {
  display:none;
}

.fp {
  position:relative;
  top:2em;
}

#fp1 {
  bottom:50px;
  left: 50px;
}

#fp2 {
  left:-250px;
}

#fp3 {
  left:300px;
  top:20px;
}

#fp4 {
  left:-75rem;
  top:-5rem;
}

#fp5 {
	left:50rem;
	top:10rem;
}

.phone {
  width:20%;
	position:relative;
}

#phone1 {
	left:-40em;
  top:3em;
}

#phone2 {
  top:40em;
  left:-32.5em;
}

.intro-list {
  position: relative;
  list-style: none;
}

.intro-list-item {
  float:left;
  text-align:left;
  position:relative;
  width:16em;
}

#intro-text-center {
  left:80rem;
  top:5rem;
}

#intro-text-right {
  left:105rem;
  top:70rem;
}

#intro-text-left {
  top:110rem;
  left:5rem;
}

.intro-list .num{
  position:relative;
  width:6rem;
  height:6rem;
}

/*******************
 ****report form****
 ****/

#report {
  transition: all 0.5s ease-in 0.5s;
  top:90em;
  position:relative;
}

#history {
  border-radius: 10px 0px 0px 10px;
}

#stats {
  border-radius: 0px 10px 10px 0px;
}

/********************
 ****contact form****
 ****/
.icons ul>li{
  position:relative;
  margin: 60px;
  padding:50px;
  font-size:30px;
  left:8rem;
}

.icons i{
    height:100px;
    font-size: 7rem;
}

/***************
 ****contact****
 ****/
#contact {
  transition: all 0.5s ease-in 0.5s;
  top:100em;
  text-align:center;
}

form {
  position:relative;
  /*width:75%;*/
  font-size: 20px;
  /*left: 50%;*/
  align: center;
}

@media screen and (max-width: 1800px) {

#intro-text-center {
  left:65rem;
  top:5rem;
}

#intro-text-right {
  left:90rem;
  top:70rem;
}

#intro-text-left {
  top:110rem;
  left:-8rem;
}



}
